<app-bread-crumb
  [itens]="[{text: 'Clientes', link: '/clientes'}, {text: pageTitle}]"
></app-bread-crumb>

<mat-drawer-container style="width: 100%;">
    <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 15px;">
      <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label for="socialName">Razão social</mat-label>  
          <input matInput [(ngModel)]="resource.socialName" required maxlength="255">
          <button *ngIf="isTextInputValid(resource.socialName)"
              mat-icon-button matSuffix (click)="clearInput('socialName')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 15px;">
      <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label for="nameFantasy">Nome fantasia</mat-label>  
          <input matInput [(ngModel)]="resource.nameFantasy" maxlength="255">
          <button *ngIf="isTextInputValid(resource.nameFantasy)"
              mat-icon-button matSuffix (click)="clearInput('nameFantasy')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-left: 10px; margin-right: 10px;">
      <div class="col-md-3">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label for="cnpj">CNPJ</mat-label>  
          <input matInput [imask]="cnpjMask" [(ngModel)]="resource.cnpj" required>
          <button *ngIf="isTextInputValid(resource.cnpj)"
              mat-icon-button matSuffix (click)="clearInput('cnpj')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label for="phone">Telefone</mat-label>  
          <input matInput [imask]="phoneMask" [(ngModel)]="resource.phone" required>
          <button *ngIf="isTextInputValid(resource.phone)"
              mat-icon-button matSuffix (click)="clearInput('phone')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
</mat-drawer-container>

  <button mat-raised-button type="button"
  [routerLink]="'/clientes'" style="margin-right: 15px;"
  class="mt-2 float-right">
  <mat-icon>chevron_left</mat-icon>
  Voltar
</button>
<button mat-raised-button type="button" style="margin-right: 15px;"
  class="mt-2 float-right" [color]="'primary'" (click)="salvar()"
  [disabled]="!isValidResource()">
  <mat-icon>check</mat-icon>
  Salvar
</button>


<!-- <app-buttons-group
  back-button-link="'/motoristas'"
  save-button-disabled="!isValidResource()"
  (clickButtonSave)="salvar()"></app-buttons-group> -->