<app-bread-crumb [itens]="[{text: 'Products'}]"></app-bread-crumb>

<app-page-header
  page-title="Products"
  button-text="+ Cadastrar"
  button-link="cadastrar"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Cliente</th>
      <th>Data nasc.</th>
      <th>CNH</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td>{{ resource.name }}</td>
      <td>{{ resource.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
      <td>{{ resource.cnh }}</td>
      <td>{{ resource.cpf }}</td>
      <td>{{ resource.phone }}</td>
      <td>
        <a [routerLink]="['editar', resource.id]" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(resource)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>