<app-bread-crumb [itens]="[{text: 'Produtos'}]"></app-bread-crumb>

<app-page-header
  page-title="Produtos"
  button-text="+ Cadastrar"
  button-link="cadastrar"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Descrição</th>
      <th>Vlr unitário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td>{{ resource.description }}</td>
      <td>{{ resource.unitValue | currency: 'BRL': true: '1.2-2' }}</td>
      <td>
        <a [routerLink]="['editar', resource.id]" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(resource)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>