<div class="row mb-4">
    <div class="col-md-7">
      <h1 class="h2 border-left pl-2">
        {{ pageTitle }}
      </h1>
    </div>
    <div *ngIf="isShowButtons()" class="col-md-5 text-right">
      <button *ngIf="buttonFilterShow"
              mat-raised-button type="button"
              [matTooltip]="buttonFilterTooltip"
              [matTooltipPosition]="buttonFilterTooltipPosition"
              (click)="buttonFilterClick()">
        <mat-icon>{{ buttonFilterMatIcon }}</mat-icon>
        {{ buttonFilterText }}
      </button>
      <button *ngIf="buttonRegisterShow"
              mat-raised-button type="button" 
              [routerLink]="buttonRegisterLink"
              [matTooltip]="buttonRegisterTooltip"
              [matTooltipPosition]="buttonRegisterTooltipPosition"
              [color]="buttonRegisterColor">
        <mat-icon>{{ buttonRegisterMatIcon }}</mat-icon>
        {{ buttonRegisterText }}
      </button>
    </div>
</div>